{% extends "base.html" %}

{% block content %}

    <div>  
        <br>
        <br>
        <br>
        <h1 style="text-align:center">Anon, czego słuchasz?</h1>
        <br>
        <br>
        <form style="text-align:center" action="" method="post">
        
            {{ form.csrf_token() }}
                
            <p><b>{{ form.musiclink.label }}</b></p>
            <p>{{ form.musiclink}}</p>
                
            <p><b>{{form.genre.label}}</b></p>
            <p>{{form.genre}}</p>
                
            <p><b>{{form.sweares.label}}</b></p>
            <p>{{form.sweares}}</p>
                
            <p>{{form.button}}</p>

        </form>
    </div>

{% endblock %}
